ion-avatar {
  color: #FFF;
  display: flex;
  align-items:center;
  justify-content:center;
}


ion-avatar ion-icon {
  font-size: 20px;
}

.my-center {
  display: flex;
  align-items:center;
}

#currentCategoryAvatar {
  transition: background-color 1s, width 2s, height 2s;
}

.verticalLine {
  width: 0.5%;
  height: auto;
  background: #CCC;
  position: relative;
}

.icon-tool {
  padding: 0px 10px !important;
  font-size: 23px !important;
  outline: none !important;
}